* {
    color: green;
}

li {
    color: blue;
}

#special {
    color: pink;
}

.red {
    background: yellow;
    width: 100px;
    height: 100px;
    padding: 20px 20px 20px 20px;
    border: 2px solid red;
}

button:hover {
    color: red;
    background: beige;
}